<%- include("header") -%>

<div class="box" id="heading">
    <h1>Your Lists</h1>
</div>
<div class="box">
    <% lists.forEach(function(list){ %>
        <div class="item">
            <form action="/<%= list.name %>" method="post">
                <button class="btn btn-light btn-block" type="button" name="goToList" value="<%= list._id %>"><%= list.name %></button>
            </form>
            <form action="/delete-list" method="post"></form>
                <button class="removeItem" type="delete" name="delete" value="<%= list._id %>">-</button>
            </form>
        </div>
    <% }) %>

    <form class="item" action="/" method="post">
        <input type="text" name="newList" placeholder="New List Name">
        <button class="addItem" type="submit" name="list">+</button>
    </form>
</div> 

<%- include("footer") -%>